body {
    background-color: #363447;
    height: 100vh;
    display: grid;
    place-content: center;
    margin: 0;
  }
  
  svg {
    width: 200px;
    height: 200px;
    transform: rotate(-90deg);
    
    --dash: 628; /* Circumference (2 * pi * radius)*/
    --percentage: 75; /* Demonstrated progress */
  }