body {
    background-color: #363447;
    height: 100vh;
    display: grid;
    place-content: center;
    margin: 0;
  }
  
  svg {
    width: 200px;
    height: 200px;
    transform: rotate(-90deg);
    
    --dash: 628; /* Circumference (2 * pi * radius)*/
    --percentage: 75; /* Demonstrated progress */
  }
  
  svg circle {
    stroke-dasharray: var(--dash);
    stroke-dashoffset: var(--dash);
    stroke-width: 35;
    fill: none;
  }
  
  svg circle:nth-child(1) {
    stroke-dashoffset: 0;
  }
  
  svg circle:nth-child(2) {
    stroke-dashoffset: calc(var(--dash) - (var(--dash) * var(--percentage)) / 100);
    stroke-linecap: round;
    animation: ringProgress 1s ease-in-out forwards;
  }