.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20vh 5vw;
}

.card {
    min-width: 18rem;
}

.card__top {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(25,25,25,1) 50%, rgba(69,69,69,1) 50%);
    border-radius: 2rem 2rem 0 0;
    height: 9rem;
}

.card__top img {
    height: 6rem;
    border: 2px solid #fff;
    border-radius: 4rem;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #191919;
    color: #fff;
    border-radius: 0 0 2rem 2rem;
    height: 18rem;
    padding: 0 2rem 2rem 2rem;
}

.card__nome {
    text-align: center;
    font-size: 2.5rem;
}

.card__linhas {
    display: flex;
    justify-content: start;
    font-size: 1.5rem;
}

.card__status {
    width: 50%;
}