body {
    background-color: #1f2937;
    margin: 5rem;
}

main {
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #fff;
    margin: 2rem;
}

#photo {
    width: 15rem;
    height: 20rem;
    margin: auto;
}

#photo > div {
    width: inherit;
    height: inherit;
}

#photo .front {
    background: url(./photo/IsraelCarneiro2.jpg) no-repeat;
    background-size: cover;
}

#photo .back {
    background: url(./photo/IsraelCarneiro1.jpg) no-repeat;
    background-size: cover;
}